# JetBrains IDE files
/.idea/

# Created during local development
/config.json
/cache/
/content/
/node_modules/

# No need for these in examples
/examples/*/package-lock.json
/examples/*/cache/
/examples/*/content/
/examples/*/node_modules/
